<h1>welcome <%= user.name %></h1>


<form action="/logout?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-secondary">Logout</button>
</form>

<a href="/dashboard">dashboard</a>
