<!--  send POST /login, with login credentials  -->
<!--  use session data here to show messages  -->
<!--  connect-flash renders this page with `messages` variable with login status -->

<form action="/login" method="POST">
    <h1>Login</h1>
    <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input required type="text" class="form-control" id="name" name="name" value="">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input required type="email" class="form-control" id="email" name="email" value="">
        </div>
    </div>
    <div class="mb-3  ">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input required type="password" class="form-control" id="password" name="password" value="">
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
    </div>
</form>
<hr />
<button type="button" class="btn btn-secondary"><a href="/register">Register</a></button>