:root {
  --theme: "primary";
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25em;
}

.p-2 {
  padding: 0.5em;
}

.p-3 {
  padding: 0.75em;
}

.p-4 {
  padding: 1em;
}

@media screen and (min-width: 576px) {
  .p-sm-0 {
    padding: 0 !important;
  }
}

@media screen and (min-width: 576px) {
  .p-sm-1 {
    padding: 0.25em !important;
  }
}

@media screen and (min-width: 576px) {
  .p-sm-2 {
    padding: 0.5em !important;
  }
}

@media screen and (min-width: 576px) {
  .p-sm-3 {
    padding: 0.75em !important;
  }
}

@media screen and (min-width: 576px) {
  .p-sm-4 {
    padding: 1em !important;
  }
}

@media screen and (min-width: 720px) {
  .p-md-0 {
    padding: 0 !important;
  }
}

@media screen and (min-width: 720px) {
  .p-md-1 {
    padding: 0.25em !important;
  }
}

@media screen and (min-width: 720px) {
  .p-md-2 {
    padding: 0.5em !important;
  }
}

@media screen and (min-width: 720px) {
  .p-md-3 {
    padding: 0.75em !important;
  }
}

@media screen and (min-width: 720px) {
  .p-md-4 {
    padding: 1em !important;
  }
}

@media screen and (min-width: 1196px) {
  .p-lg-0 {
    padding: 0 !important;
  }
}

@media screen and (min-width: 1196px) {
  .p-lg-1 {
    padding: 0.25em !important;
  }
}

@media screen and (min-width: 1196px) {
  .p-lg-2 {
    padding: 0.5em !important;
  }
}

@media screen and (min-width: 1196px) {
  .p-lg-3 {
    padding: 0.75em !important;
  }
}

@media screen and (min-width: 1196px) {
  .p-lg-4 {
    padding: 1em !important;
  }
}

@media screen and (min-width: 1566px) {
  .p-xl-0 {
    padding: 0 !important;
  }
}

@media screen and (min-width: 1566px) {
  .p-xl-1 {
    padding: 0.25em !important;
  }
}

@media screen and (min-width: 1566px) {
  .p-xl-2 {
    padding: 0.5em !important;
  }
}

@media screen and (min-width: 1566px) {
  .p-xl-3 {
    padding: 0.75em !important;
  }
}

@media screen and (min-width: 1566px) {
  .p-xl-4 {
    padding: 1em !important;
  }
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25em;
}

.m-2 {
  margin: 0.5em;
}

.m-3 {
  margin: 0.75em;
}

.m-4 {
  margin: 1em;
}

@media screen and (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important;
  }
}

@media screen and (min-width: 576px) {
  .m-sm-1 {
    margin: 0.25em !important;
  }
}

@media screen and (min-width: 576px) {
  .m-sm-2 {
    margin: 0.5em !important;
  }
}

@media screen and (min-width: 576px) {
  .m-sm-3 {
    margin: 0.75em !important;
  }
}

@media screen and (min-width: 576px) {
  .m-sm-4 {
    margin: 1em !important;
  }
}

@media screen and (min-width: 720px) {
  .m-md-0 {
    margin: 0 !important;
  }
}

@media screen and (min-width: 720px) {
  .m-md-1 {
    margin: 0.25em !important;
  }
}

@media screen and (min-width: 720px) {
  .m-md-2 {
    margin: 0.5em !important;
  }
}

@media screen and (min-width: 720px) {
  .m-md-3 {
    margin: 0.75em !important;
  }
}

@media screen and (min-width: 720px) {
  .m-md-4 {
    margin: 1em !important;
  }
}

@media screen and (min-width: 1196px) {
  .m-lg-0 {
    margin: 0 !important;
  }
}

@media screen and (min-width: 1196px) {
  .m-lg-1 {
    margin: 0.25em !important;
  }
}

@media screen and (min-width: 1196px) {
  .m-lg-2 {
    margin: 0.5em !important;
  }
}

@media screen and (min-width: 1196px) {
  .m-lg-3 {
    margin: 0.75em !important;
  }
}

@media screen and (min-width: 1196px) {
  .m-lg-4 {
    margin: 1em !important;
  }
}

@media screen and (min-width: 1566px) {
  .m-xl-0 {
    margin: 0 !important;
  }
}

@media screen and (min-width: 1566px) {
  .m-xl-1 {
    margin: 0.25em !important;
  }
}

@media screen and (min-width: 1566px) {
  .m-xl-2 {
    margin: 0.5em !important;
  }
}

@media screen and (min-width: 1566px) {
  .m-xl-3 {
    margin: 0.75em !important;
  }
}

@media screen and (min-width: 1566px) {
  .m-xl-4 {
    margin: 1em !important;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

@media screen and (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}

@media screen and (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}

@media screen and (min-width: 576px) {
  .d-sm-inline {
    display: inline !important;
  }
}

@media screen and (min-width: 720px) {
  .d-md-none {
    display: none !important;
  }
}

@media screen and (min-width: 720px) {
  .d-md-block {
    display: block !important;
  }
}

@media screen and (min-width: 720px) {
  .d-md-inline {
    display: inline !important;
  }
}

@media screen and (min-width: 1196px) {
  .d-lg-none {
    display: none !important;
  }
}

@media screen and (min-width: 1196px) {
  .d-lg-block {
    display: block !important;
  }
}

@media screen and (min-width: 1196px) {
  .d-lg-inline {
    display: inline !important;
  }
}

@media screen and (min-width: 1566px) {
  .d-xl-none {
    display: none !important;
  }
}

@media screen and (min-width: 1566px) {
  .d-xl-block {
    display: block !important;
  }
}

@media screen and (min-width: 1566px) {
  .d-xl-inline {
    display: inline !important;
  }
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.ta-center {
  text-align: center;
}

.ta-justify {
  text-align: justify;
}

@media screen and (min-width: 576px) {
  .ta-sm-l {
    text-align: left !important;
  }
}

@media screen and (min-width: 576px) {
  .ta-sm-r {
    text-align: right !important;
  }
}

@media screen and (min-width: 576px) {
  .ta-sm-center {
    text-align: center !important;
  }
}

@media screen and (min-width: 576px) {
  .ta-sm-justify {
    text-align: justify !important;
  }
}

@media screen and (min-width: 720px) {
  .ta-md-l {
    text-align: left !important;
  }
}

@media screen and (min-width: 720px) {
  .ta-md-r {
    text-align: right !important;
  }
}

@media screen and (min-width: 720px) {
  .ta-md-center {
    text-align: center !important;
  }
}

@media screen and (min-width: 720px) {
  .ta-md-justify {
    text-align: justify !important;
  }
}

@media screen and (min-width: 1196px) {
  .ta-lg-l {
    text-align: left !important;
  }
}

@media screen and (min-width: 1196px) {
  .ta-lg-r {
    text-align: right !important;
  }
}

@media screen and (min-width: 1196px) {
  .ta-lg-center {
    text-align: center !important;
  }
}

@media screen and (min-width: 1196px) {
  .ta-lg-justify {
    text-align: justify !important;
  }
}

@media screen and (min-width: 1566px) {
  .ta-xl-l {
    text-align: left !important;
  }
}

@media screen and (min-width: 1566px) {
  .ta-xl-r {
    text-align: right !important;
  }
}

@media screen and (min-width: 1566px) {
  .ta-xl-center {
    text-align: center !important;
  }
}

@media screen and (min-width: 1566px) {
  .ta-xl-justify {
    text-align: justify !important;
  }
}

.ls-1 {
  letter-spacing: 0.028em;
}

.ls-2 {
  letter-spacing: 0.056em;
}

.ls-3 {
  letter-spacing: 0.084em;
}

.ls-4 {
  letter-spacing: 0.112em;
}

.lh-1 {
  line-height: 120%;
}

.lh-2 {
  line-height: 140%;
}

.lh-3 {
  line-height: 160%;
}

.lh-4 {
  line-height: 180%;
}

.text-shadow-sm {
  text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

.text-shadow-lg {
  text-shadow: 2px 2px 5px rgba(0,0,0,.4);
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

h1 {
  background: transparent url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQxLjk0bW0iIGhlaWdodD0iMTQwLjg2bW0iIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDE0MS45NCAxNDAuODYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTUyLjMwMSAtNTUuNzE0KSI+CiAgICA8cGF0aCB0cmFuc2Zvcm09Im1hdHJpeCguMjY0NTggMCAwIC4yNjQ1OCA3NC4yNSAyMC44MzMpIiBkPSJtMzA4Ljg5IDY2NC4yMi0xNTQuMTMtMTA5LjMyLTE3Ny40NCA2NC45ODcgNTYuMzQ3LTE4MC4zNy0xMTYuNjQtMTQ4LjY3IDE4OC45NS0yLjE0NzIgMTA1LjM1LTE1Ni44NyA2MC40MzEgMTc5LjA0IDE4MS43NSA1MS43MTgtMTUxLjYgMTEyLjh6IiBmaWxsPSIjY2NjIiBmaWxsLW9wYWNpdHk9Ii41Ii8+CiAgPC9nPgogIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01Mi4zMDEgLTU1LjcxNCkiIGRpc3BsYXk9Im5vbmUiPgogICAgPHBhdGggdHJhbnNmb3JtPSJtYXRyaXgoLjI2NDU4IDAgMCAuMjY0NTggNzQuMjUgMjAuODMzKSIgZD0ibTMwOC44OSA2NjQuMjItMTU0LjEzLTEwOS4zMi0xNzcuNDQgNjQuOTg3IDU2LjM0Ny0xODAuMzctMTE2LjY0LTE0OC42NyAxODguOTUtMi4xNDcyIDEwNS4zNS0xNTYuODcgNjAuNDMxIDE3OS4wNCAxODEuNzUgNTEuNzE4LTE1MS42IDExMi44eiIgZmlsbD0iI2JiZTRlNCIgZmlsbC1vcGFjaXR5PSIuODIyODQiLz4KICA8L2c+Cjwvc3ZnPgo=");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 57px;
  cursor: default;
}
h1:hover {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTM2LjQ4IiBoZWlnaHQ9IjUzMi4zOSIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTQxLjk0IDE0MC44NiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNTIuMzAxIC01NS43MTQpIiBkaXNwbGF5PSJub25lIj4KICAgIDxwYXRoIHRyYW5zZm9ybT0ibWF0cml4KC4yNjQ1OCAwIDAgLjI2NDU4IDc0LjI1IDIwLjgzMykiIGQ9Im0zMDguODkgNjY0LjIyLTE1NC4xMy0xMDkuMzItMTc3LjQ0IDY0Ljk4NyA1Ni4zNDctMTgwLjM3LTExNi42NC0xNDguNjcgMTg4Ljk1LTIuMTQ3MiAxMDUuMzUtMTU2Ljg3IDYwLjQzMSAxNzkuMDQgMTgxLjc1IDUxLjcxOC0xNTEuNiAxMTIuOHoiIGZpbGw9IiNjY2MiIGZpbGwtb3BhY2l0eT0iLjUiLz4KICA8L2c+CiAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTUyLjMwMSAtNTUuNzE0KSI+CiAgICA8cGF0aCB0cmFuc2Zvcm09Im1hdHJpeCguMjY0NTggMCAwIC4yNjQ1OCA3NC4yNSAyMC44MzMpIiBkPSJtMzA4Ljg5IDY2NC4yMi0xNTQuMTMtMTA5LjMyLTE3Ny40NCA2NC45ODcgNTYuMzQ3LTE4MC4zNy0xMTYuNjQtMTQ4LjY3IDE4OC45NS0yLjE0NzIgMTA1LjM1LTE1Ni44NyA2MC40MzEgMTc5LjA0IDE4MS43NSA1MS43MTgtMTUxLjYgMTEyLjh6IiBmaWxsPSIjZDdiMTk3IiBmaWxsLW9wYWNpdHk9Ii43OTQzOSIvPgogIDwvZz4KPC9zdmc+Cg==");
}

/*# sourceMappingURL=index.css.map */
